body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}

.clickable {
  cursor: pointer;
}

.overlay {
  z-index: 100000;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

.sticky-vertical {
  position: -webkit-sticky;
  position: sticky;
  top: 60px;
}
.sticky-horizontal {
  position: -webkit-sticky;
  position: sticky;
  left: 0px;
}

table {
  border-collapse: separate;
  border-spacing: 0px;
}
.table-fixed-2-cols td:first-child, th:first-child {
  position: -webkit-sticky;
  position: sticky;
  left: 0px;
  width: 50px;
}
.table-fixed-2-cols td:nth-child(2), th:nth-child(2) {
  position: -webkit-sticky;
  position: sticky;
  left: 50px;
  border-right: 1px dashed dimgray;
}
.table-fixed-right-col {
  position: -webkit-sticky;
  position: sticky;
  right: 0px;
  border-left: 1px dashed dimgray;
}