body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}

.min-width-300 {
  min-width: 300px;
}

.min-width-200 {
  min-width: 200px;
}

.min-width-150 {
  min-width: 150px;
}

.max-width-700 {
  max-width: 700px;
}

.clickable {
  cursor: pointer;
}

.overlay {
  z-index: 100000;
  position: absolute;
  top: 0px;
  left: 0px;
  justify-content: center;
  align-items: center;
}

.below-all {
  z-index: -100000;
}

.fill-screen-99 {
  width: calc(100vw - 32px);
  height: calc(100vh - 32px);
}