body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}

.clickable {
  cursor: pointer;
}

.overlay {
  z-index: 100000;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: top;
  background: rgba(0, 0, 0, 0.5);
}

.tooltip {
  z-index: 200000;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  padding: 0em 10px 0em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

.sticky-vertical {
  position: -webkit-sticky;
  position: sticky;
  top: 60px;
}
.sticky-horizontal {
  position: -webkit-sticky;
  position: sticky;
  left: 0px;
}

table.shortlist-it {
  border-collapse: separate;
  border-spacing: 0px;
}
table.shortlist-it > thead > tr:first-child > th:first-child {
  border-top-left-radius: 6px;
}
table.shortlist-it > thead > tr:first-child > th:last-child {
  border-top-right-radius: 6px;
}
table.shortlist-it > tbody > tr:last-child > td:first-child {
  border-bottom-left-radius: 6px;
}
table.shortlist-it > tbody > tr:last-child > td:last-child {
  border-bottom-right-radius: 6px;
}
.table-fixed-2-cols td.shortlist-it:first-child, 
.table-fixed-2-cols th.shortlist-it:first-child {
  position: -webkit-sticky;
  position: sticky;
  left: 0px;
  width: 50px;
}
.table-fixed-2-cols td.shortlist-it:nth-child(2), 
.table-fixed-2-cols th.shortlist-it:nth-child(2) {
  position: -webkit-sticky;
  position: sticky;
  left: 50px;
  border-right: 1px dashed dimgray;
}
.shortlist-it.table-fixed-right-col {
  position: -webkit-sticky;
  position: sticky;
  right: 0px;
  border-left: 1px dashed dimgray;
}

table table th {
  background-color: #ccc;
}
table table td {
  background-color: #f9f9f9;
}
table table th, 
table table td {
  padding: 5px;
  border: 1px solid #808080;
}
table table tr {
  border-top: 1px solid #808080;
}

.alert {
  overflow: hidden;
  min-width: 50dvw;
  max-width: 90dvw;
  max-height: 90dvh;
}
.alert-body {
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 20dvh;
}

.text-truncate {
  max-width: 60dvw;
}

.card {
  width: 98dvw;
}

.preview {
  margin-top: 10px;
  border-style: dashed;
  border-radius: 10px;
  padding: 10px;
}
.preview > div:first-child {
  position: relative;
  top: -20px;
  background-color: var(--bs-light-bg-subtle);
  margin: 0px;
  padding-left: 5px;
  padding-right: 5px;
  display: inline-block;
}